body {
  margin: 0;
  background-color:  #bdb1af;
}

main{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.countries{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Shadows Into Light', cursive;
  font-size: 2vh;
  max-width: 33vw;
  border: 2px white solid;
  margin: 1%;
  background-color: whitesmoke;
  border-radius: 20% 20% 0 0;
}

img{
width: 50px;
}

.poster{
  border: solid white 4px;
  width: 195px;
}

.posters{
  display: flex;
}

.title{
  font-family:'Shadows Into Light', cursive;
  text-align: center;
  font-size: 9vh;
  color: black;
  border-width: 1;
  border-color: white;
  text-decoration: underline;
}

.titles{
  font-family:'Shadows Into Light', cursive;
  text-align: center;
  font-size: 6vh;
  color: black
}


.country{
font-size: 9vh;
font-family: 'Zeyada', cursive;
color: #8b572a;
text-decoration: underline;
}


.food{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.food_pic{
  margin: 5px;
  width: 122px;
  border: white 3px solid;
}

.activities {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}